:root {
    --primary: #A51C24;
    --secundary: #0f5f22;
    --terciary: #FFFFFF;
    --btn-primary: #116e2d;
    --btn-secundary: #8B1E23;
    --txt-btn: #FFFFFF;
    --cream: #F8F1E3;
    --beige: #EFE3CC;
    --green: #173B25;
    --green-light: #315F3D;
    --wine: #741C1C;
    --brown: #5C3A20;
    --gold: #B08A52;
    --txt-details-color: #e9e0d26b;
    --bronze: #936839;
    --text: #292929;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}