header {
  background: var(--beige);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

a {
  text-decoration: none;
}

.logo img {
  width: 8vw;
  height: auto;
}

.header-list {
  font-size: 1.2rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.sobre::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--btn-secundary);
  transition: 0.3s;
}

.verde::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--secundary);
  transition: 0.3s;
}

.verde:hover {
  color: var(--green-light);
  transition: 0.3s ease;
}

.branco::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--terciary);
  transition: 0.3s;
}

.branco:hover {
    color: whitesmoke;
}

.vermelho::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

.vermelho:hover {
    color: var(--primary);
}

.menu a:hover::after {
  width: 100%;
}
.btn-header {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-login {
  background: linear-gradient(60deg, var(--btn-primary), var(--green-light));
  padding: 7px 15px;
  border-radius: 6px;
}

.btn-login a,
.btn-cadastrar a {
  color: var(--txt-btn);
}

.btn-cadastrar {
  background: linear-gradient(45deg, var(--btn-secundary), var(--wine));
  padding: 7px 15px;
  border-radius: 6px;
}
